<p>Share your setup with us</p>
<div class="container">
        <div class="photo-gallery">
            <div class="column">
                <div class="photo">
                    <img src="assets/collage-images/image1.jpg" alt="">
                </div>
                <div class="photo">
                    <img src="assets/collage-images/image4.jpg" alt="">
                </div>
                <div class="photo">
                    <img src="assets/collage-images/image7.jpg" alt="">
                </div>
            </div>
            <div class="column">
                <div class="photo">
                    <img src="assets/collage-images/image2.jpg" alt="">
                </div>
                <div class="photo">
                    <img src="assets/collage-images/image5.jpg" alt="">
                </div>
                <div class="photo">
                    <img src="assets/collage-images/image6.jpg" alt="">
                </div>
            </div>
            <div class="column">
                <div class="photo">
                    <img src="assets/collage-images/image3.jpg" alt="">
                </div>
                <div class="photo">
                    <img src="assets/collage-images/image11.jpg" alt="">
                </div>
                <div class="photo">
                    <img src="assets/collage-images/image9.jpg" alt="">
                </div>
            </div>
        </div>
    </div>