.navbar {
    background-color: rgba(255, 255, 255, 0.5);
}

.btn i {
    color: black; 
    font-size: 24px;
}

.navbar-brand img {
    width: 40px; 
    height: 40px; 
}

.form-control {
    border-radius: 20px;
}

.nav-link{
    font-family: Arial, sans-serif; /* Cambia la fuente de letra */
    font-size: 15px; /* Cambia el tamaño de la fuente */
}
