.custom-card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;

  &:hover {
    transform: translateY(-5px);
  }

  .card-img-top {
    width: 100%;
    object-fit: cover; 
  }

  .card-body {
    padding: 1rem;
    background-color: #f8f9fa;
    flex-grow: 1;

    .card-title {
      font-size: 1.25rem;
      color: #333;
      margin-bottom: 0.5rem;
    }

    .card-text {
      font-size: 1rem;
      color: #666;
    }
  }
  margin-bottom: 1rem;
}
